<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/uindex.css" />
  </head>

  <body>
    <h1>Welcome to Trivia App</h1>
<p> Sign-up to contribute to the extensive data base of 
  trivia questions and answers. Furthermore, you can be creative by adding three possible wrong answers. 
The trivia questions and asnwers can be in English, Spanish, French, or Italian</p>

    <nav>
      <a href="/users/signup">Sign Up</a>
      <a href="/users/login">Log In</a>
    </nav>
  </body>
</html>